//Imports

@import 'compass';
@import 'reset.scss';
@import 'fonts.scss';
@import 'palette.scss';

//Setup

@mixin blockTransition($duration: 0.05s) {
	transition-property: background-color, color;
	transition-timing-function: linear;
	transition-duration: $duration;
}

//Global

body {
	background-color: $globalBG;
	margin: 0;
	padding: 0;
	@include bodyFontSetup;
	color: $globalFontFG;
}

a { color: $accent; } 
.hide { display: none; }
.clear { clear: both; }

.text-shadow { text-shadow: 0 0 4px rgba(0,0,0,0.3); }

//Layout

header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	#navToggle {
		position: fixed;
		z-index: 100;
		height: 48px;
		width: 48px;
		position: absolute;
		top: 34px;
		left: 34px;
		cursor: pointer;
			&:hover {
				.navLine1, .navLine2 {
					background:rgba(255,255,255,0.666);
				}
			}
		.navLine1, .navLine2 {
			position: absolute;
			top: 50%;
			height: 2px;
			width: 100%;
			background: rgba(255,255,255,1);
			transition-property: transform, margin, background;
			transition-timing-function: linear;
			transition-duration: 0.1s;
		}
		.navLine1 {
			margin-top:-10px;
		}
		.navLine2 {
			margin-top:10px;
		}
		&.close {
			.navLine1 {
				margin: 0;
				transform:rotateZ(45deg);
			}
			.navLine2 {
				margin: 0;
				transform:rotateZ(-45deg);
			}
		}
	}
}

#navMain {
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
	padding-right:4em;
	height: 100%;
	background: rgba(0,0,0,0.66666);
	z-index: 50;
	text-align: left;
	transition-property: opacity;
	transition-timing-function: ease-out;
	transition-duration: 0.2s;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	&.shown {
		opacity: 1;
	}
	a {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		outline:none;
		padding: 17px 34px;
		text-decoration: none;
		font-weight: 400;
		font-size: 3em;
		color: white;
		display: block;
		opacity:0.3;
		transition-property: opacity, color;
		transition-timing-function: linear;
		transition-duration: 0.066666s;
		&:first-of-type {
			margin-top:200px;
		}
		&.current {opacity: 1;&:hover{color:white}}
		&:hover { opacity: 1; color: orange }
	}
}

#top {
	position: relative;
	text-align: right;
	&.intro {margin-top: -32px;}
	&.intro .copy {
		color: white;
		position: absolute;
		right: 32px;
		bottom: 35%;
		width: 63.33333%;
		font-weight: 100;
		letter-spacing: 0.0333333em;
		h2 {
			font-size: 3em;
			line-height: 100%;
			padding: 0 0 0.66em 0;
		}
		h3 {
			font-size: 2em;
			line-height: 120%;
			padding: 0.66em 0 0 33.33333%;
			border-top: 1px solid rgba(255,255,255,0.33);
		}
	}
}

.photoHero {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	line-height: 0;
	vertical-align: top;
	img { width: 100%; }
	.large,
	.collage {
		width: 50%;
		float: left;
	}
	.collage {
		img {
			width: 50%;
			height: 50%;
			float: left;
		}
	}
	&.twoThirdSplit {
		.large {
			width: 66.66666666666666%;
			img { width: 100%; }
		}
		.collage {
			width: 33.33333333333333%;
			img { width: 100%; }
		}
	}
	.row4x1 {
		img {
			width: 25%;
			height: 25%;
			float: left;
		}
	}
	&.halfSplit {
		img {
			width: 50%;
			float: left;
		}
	}
	&.quarterSplit {
		img {
			width: 25%;
			float: left;
		}
	}
	&.thirdSplit {
		img {
			width: 33.33333333333333%;
			float: left;
		}
	}
}

.designItem {
	&.first { margin-top:-6%; }
	overflow: hidden;
	transform: skewY(-5deg);
	&::before {
		content:'';
		display: block;
		width: 100%;
		height: 64px;
	}
	.contentWrap {
		transform: skewY(5deg);
		width: 85%;
		max-width: 1024px;
		margin: 0 auto;
		padding: 8em 0 7em;
	}
	.artboards {
		cursor: pointer;
		&.single { cursor: default; }
		position: relative;
		img { box-shadow: 0 0 4px rgba(0,0,0,0.333333); }
	}
	h4 {
		font-size: 3em;
		font-weight: 200;
		&.strong, strong { font-weight: 500; }
	}
	&.piTV {
		.artboards {
			.front {
				width: 100%;
				transition: opacity 0.2s ease-in;
				opacity: 1;
			}
			.rear {
				width: 90%;
				position: absolute;
				top: 5%;
				z-index:-1;
				transition: width, opacity, top, bottom;
				transition-duration: 0.2s;
				transition-timing-function: ease-in;
				&.left { left: -32px; }
				&.right { right: -32px; }
			}
			&.toggle {
				.front { opacity: 0; }
				.rear {
					width: 80%;
					top: 5%;
					&.left {}
					&.right {
						bottom: 5%;
    					top: auto;
					}
				}
			}
		}
		.copy {
			text-align: center;
			margin: 0.66666em auto 0;
			line-height: 120%;
			color: white;
		}
	}
	&.newsApp {
		.contentWrap { height: 48.333333em; }
		.artboards {
			width: 50%;
			max-width: 440px;
			display: inline-block;
			vertical-align: top;
			img {
				display: block; // broken?
				transition-property: left, width, z-index, top;
				transition-timing-function: ease-in;
				transition-duration: 0.2s;
			}
			.first { width: 100%; position:absolute; }
			.second, .third { position: absolute; }
			.second {
				width: 95%;
				left: -4.3%;
				top: 2.5%;
				z-index: -1;
			}
			.third {
				width: 90%;
				left: -8%;
				top: 5%;
				z-index: -2;
			}
		}
		.copy {
			width: 44%;
			display: inline-block;
			margin-left: 5%;
			padding-top: 8.8em;
		}
	}
	&.xboxMusic {
		&::before {
			position: absolute;
			top: 0;
			z-index: 2;
		}
		.blurBG {
			position: absolute;
			height: 200%;
			top: 0;
			left: -50%;
			filter: blur(32px);
		}
		.contentWrap { padding-top: 12em; }
		.artboards {
			img {
				width: 100%;
			}
		}
		.copy { color: white; }
	}
	&.xboxOne {
		.artboards {
			.front,
			.rear {
				transition: width, opacity, top, bottom, left, right;
				transition-duration: 0.2s;
				transition-timing-function: ease-in;
			}
			.front {
				width: 100%;
				opacity: 1;
			}
			.rear {
				position: absolute;
				width: 90%;
				top: 5%;
				right: -3%;
				z-index:-1;
				&.left { left: -32px; }
				&.right { right: -32px; }
			}
			&.toggle {
				.front {
					opacity: 0;
					top: -5%;
					left: -5%;
				}
				.rear {
					width: 100%;
					top: 0;
					right: 0;
				}
			}
		}
	}
	&.xboxMusic,
	&.xboxOne {
		.copy {
			margin: 4em auto 0;
			h4 { margin: 0 0 0.66666em 0; }
		}
	}
	&.newsApp,
	&.xboxMusic,
	&.xboxOne {
		.copy {
			p {
				font-weight: 200;
				margin-top: 2em;
				font-size: 1.8em;
				line-height: 125%;
			}
		}
	}
}

.strip-silver {
	&::before {
		background: radial-gradient(ellipse at center, rgba(246,246,246,1) 20%,rgba(205,205,205,1) 166%);
	}
}
.strip-blue {
	&::before {
		background: radial-gradient(ellipse at center, #7bade7 20%, #4e92df 166%);
	}
}
.strip-charcoal {
	&::before {
		background: radial-gradient(ellipse at center, rgba(220,220,220,1) 10%,rgba(110,110,110,1) 300%);
	}
}
.strip-green {
	&::before {
		background: radial-gradient(ellipse at center, #5edb31 13%, #31b602 133%);
	}
}

section {
	&:first-of-type { }
	p, h2, h3, h4, h5, h6 {

	}
	img { width: 100%; }
}

footer {
	margin: -6% 0 0;
	padding: 6% 5% 0.1%;
	background: black;
	background: radial-gradient(ellipse at center, rgba(42,132,189,1) 0%,rgba(45,80,116,1) 166%);
	.social {
		max-width: 1024px;
		margin: 4em auto;
		display: block;
		text-align: right;
		vertical-align: middle;
		.button {
			height: 48px;
			width: 48px;
			margin: 0 0.8em 0 0;
			border-radius: 3px;
			display: inline-block;
			@include blockTransition;
			background-position: center;
			background-repeat: no-repeat;
			background-size: 26px auto;
			color: white;
			text-indent: 200%;
		    white-space: nowrap;
		    overflow: hidden;
		    transition: background-color, 0.1s, linear;
		    background-color: rgba(255,255,255,0.1);
		    &:hover { background-color: rgba(255,255,255,0.2); }
			&:last-of-type { margin-right: 0; }
			&.github {
				//background-color: $github;
				background-image: url(img/github.png);
				//&:hover { background-color: lighten($github, 20%); }
			}
			&.instagram {
				//background-color: $instagram;
				background-image: url(img/instagram.png);
				//&:hover { background-color: lighten($instagram, 20%); }
			}
			&.twitter {
				//background-color: $twitter;
				background-image: url(img/twitter.png);
				//&:hover { background-color: lighten($twitter, 20%); }
			}
		}
	}
}

//Error

#errorPage {
	text-align: center;
	background: black;
	color: white;
	#errorLarge {
		width: 66%;
		margin: 8em auto;
		text-align: left;
		h1 {
			font-size: 6em;
			margin: 0 0 0.5em 0;
		}
		p {
			font-size: 1.25em;
			margin: 2em 0;
		}
	}
}

@import 'responsive.scss';