//Global

@mixin headerFontSetup {
  font-family: "Helvetica Neue Light", Helvetica, sans-serif;
}

@mixin calloutFont {
  font-size: 2.4em;
  font-weight: 300;
}

@mixin bodyFontSetup {
  font-family: "Gentium Book Basic", Georgia, serif;
}