//Global

$globalBG: rgb(255,255,255);
$globalFontFG: rgb(50,50,50);

$accent: blue;

//Social

$github: rgb(65,131,196);
$instagram: desaturate(lighten(green,30%), 70%);
$twitter: rgb(0,172,238);

.bg-silver {
	background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(210,210,210,1) 166%);
}
.bg-charcoal {
	background: radial-gradient(ellipse at center, #c7c7c7 0%,#000000 166%);
}