//Breakpoints
//Variables

$mobile-portrait-xsmall: 319px;
$mobile-portrait-smaller: 349px;
$mobile-portrait-small: 378px;
$mobile-portrait-medium-small: 419px;
$mobile-portrait-medium: 540px;
$mobile-portrait-large: 590px;

$tablet-portrait-small: 670px;
$tablet-portrait-medium: 890px;
$tablet-portrait-large: 970px;

$desktop-small: 1100px;