//Breakpoints
//Variables

$mobile-portrait-xsmall: 319px;
$mobile-portrait-smaller: 349px;
$mobile-portrait-small: 378px;
$mobile-portrait-medium-small: 419px;
$mobile-portrait-medium: 540px;
$mobile-portrait-large: 590px;

$tablet-portrait-small: 670px;
$tablet-portrait-medium: 890px;
$tablet-portrait-large: 970px;

$desktop-small: 1100px;

//Breakpoints
//Layout - Tablet

@media only screen and (max-width: $mobile-portrait-medium) {
  header {
    font-size: 12px;
    a { padding: 1em 0.7em 1.1em 0.5em; }
  }
  #top {
    margin-bottom: 1.333em;
    h2 {
      width: 80%;
      font-size: 1.2em;
    }
    img {
      margin-top: 0;
    }
  }
  .blogHeading .date { display: block; float: none; }
  section {
    &#intro {
      margin-top: 1em;
      .blogHeading { margin-top: 1.666em; }
    }
    p { font-size: 1.1em; }
  }
  .innerContent { padding: 0 6.66%; }
  .hideForTablet, .desktopOnly { display: none; }
  footer {
    text-align: center;
    margin-top: 1.33em;
    .social {
      .button {
        height: 38px;
        width: 38px;
        margin: 0 0.6em 0 0;
        background-size: 20px auto;
        &:last-of-type {
          margin: 0;
        }
      }
    }
    p.copyright {
      display: block;
      float: none;
      padding: 0 0 1.33em 0;
    }
  }
}