//Imports

@import 'compass';
@import 'reset.scss';
@import 'fonts.scss';
@import 'palette.scss';

//Setup

$accent: $blueAccent;

@mixin blockTransition($duration: 0.05s) {
  -webkit-transition-property: background-color, color;
  -moz-transition-property: background-color, color;
  -o-transition-property: background-color, color; 
  transition-property: background-color, color;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: $duration;
  -moz-transition-duration: $duration;
  -o-transition-duration: $duration;
  transition-duration: $duration;
}

//Global

body {
  background-color: $globalBG;
  margin: 0;
  padding: 0;
  @include bodyFontSetup;
  color: $globalFontFG;
}

p {
  line-height: 1.5em;
}

a {
  color: $accent;
}

.hide {
  display: none;
}

.clear {
  clear: both;
}

.textAlignRight {
  text-align: right;
}

.blogHeading {
  font-weight: bold;
  padding: 1em;
  color: white;
  background: black;
  display: inline-block;
  .date {
    font-weight: normal;
    font-style: italic;
    font-size: 66%;
    vertical-align: middle;
  }
}
.separatorTop {
  border-top: 1px solid rgb(200,200,200);
}

//Layout

header {
  @include headerFontSetup;
  position: absolute;
  top: 1.2em;
  left: 0;
  height: 60px;
  width: 5.25em;
  opacity: 0.85;
  overflow: hidden;
  background: rgba(0,0,0,0.5);
  z-index: 100;
  .callout {
    h1 {
      @include calloutFont;
      color: $headerH1;
      position: absolute;
      bottom: 0.33em;
      left: 0.33em;
    }
  }
}

.photoHero {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  line-height: 0;
  vertical-align: top;
  .photoHeading {
    font-size: 3em;
    position: absolute;
    bottom: 33%;
    right: 5%;
  }
  img {
    width: 100%;
  }
  &.addMargin {
    margin: 0 0 1.8em;
  }
  .large,
  .collage {
    width: 50%;
    float: left;
  }
  .collage {
    img {
      width: 50%;
      height: 50%;
      float: left;
    }
  }
  &.twoThirdSplit {
    .large {
      width: 66.66666666666666%;
      img {
        width: 100%;
      }
    }
    .collage {
      width: 33.33333333333333%;
      img {
        width: 100%;
      }
    }
  }
  .row4x1 {
    img {
      width: 25%;
      height: 25%;
      float: left;
    }
  }
  &.halfSplit {
    img {
      width: 50%;
      float: left;
    }
  }
  &.quarterSplit {
    img {
      width: 25%;
      float: left;
    }
  }
  &.thirdSplit {
    img {
      width: 33.33333333333333%;
      float: left;
    }
  }
}

.innerContent {
  max-width: 960px; //prev 1024
  margin: 0 auto;
  padding: 0 5%;
  img {
    width: 100%;
    margin: 0 auto 2em;
    display: block;
  }
  .caption {
    // display: block;
  }
}

section {
  margin: 4.25em 0;
  &#intro,
  &#about {
    margin: 2.25em 0 3em;
  }
  &#about {
    background: rgba(0,0,0,0.05);
    padding: 1.8em 0 2em;
    margin: 0;
    font-style: italic;
    p {
      margin-bottom: 0;
    }
  }
  p {
    margin: 0 1.5em 1.8em;
    font-size: 1.2em;
  }
}

footer {
  border-top: 1px solid rgb(200,200,200);
  margin: 0 0 2.5em;
  padding: 2em 1.8em 1em;
  text-align: center;
  p {
    font-size: 0.8em;
    color: rgb(100,100,100);
    max-width: 800px;
    margin: 0 auto;
  }
  .social {
    margin: 1em auto;
    .button {
      height: 50px;
      width: 50px;
      margin: 0 0.6em 1.2em;
      display: inline-block;
      @include blockTransition;
      background-position: center;
      background-repeat: no-repeat;
      color: white;
      text-indent:-9999px;
      &.linkedin {
        background-color: $linkedin;
        background-image: url(img/linkedin.png);
        &:hover {
          background-color: lighten($linkedin, 20%);
        }
      }
      &.twitter {
        background-color: $twitter;
        background-image: url(img/twitter.png);
        &:hover {
          background-color: lighten($twitter, 20%);
        }
      }
      &.google {
        background-color: $google;
        background-image: url(img/google.png);
        &:hover {
          background-color: lighten($google, 20%);
        }
      }
      &.facebook {
        background-color: $facebook;
        background-image: url(img/facebook.png);
        &:hover {
          background-color: lighten($facebook, 20%);
        }
      }
      &.pinterest {
        background-color: $pinterest;
        background-image: url(img/pinterest.png);
        &:hover {
          background-color: lighten($pinterest, 20%);
        }
      }
      &.lastfm {
        background-color: $lastfm;
        background-image: url(img/lastfm.png);
        &:hover {
          background-color: lighten($lastfm, 20%);
        }
      }
      &.github {
        background-color: $github;
        background-image: url(img/github.png);
        &:hover {
          background-color: lighten($github, 20%);
        }
      }
      &.flickr {
        background-color: $flickr;
        background-image: url(img/flickr.png);
        &:hover {
          background-color: lighten($flickr, 5%);
        }
      }
      &.instagram {
        background-color: $instagram;
        background-image: url(img/instagram.png);
        &:hover {
          background-color: lighten($instagram, 20%);
        }
      }
    }
  }
}

.subfooter.copyright {
  margin-bottom: 0.5em;
}

//Error

#errorPage {
  text-align: center;
  background: black;
  color: white;
  #errorLarge {
    width: 66%;
    margin: 8em auto;
    text-align: left;
    h1 {
      font-size: 6em;
      margin: 0 0 0.5em 0;
    }
    p {
      font-size: 1.25em;
      margin: 2em 0;
    }
  }
}

//Breakpoints
//Variables

$iPadPortrait: 768px;
$iPadLandscape: 1024px;
$iPhonePortrait: 320px;
$iPhoneLandscape: 533px;

//Breakpoints
//Layout - Tablet

@media only screen and (min-width: $iPadPortrait) {
  header {
    position: fixed;
  }
}

@media only screen and (max-width: $iPadLandscape) and (orientation: landscape) {
  header {
    position: absolute;
  }
}

@media only screen and (min-width: $iPadPortrait) and (max-width: $iPadLandscape) and (orientation: portrait) {
  header {
    nav {
      ul {
        li {
          a {
            margin: 0 0.5em 1.88em;
          }
        }
      }
    }
  }
  footer {
    padding: 2em 0 0.5em;
  }
  .hideForTablet,
  .desktopOnly {
    display: none;
  }
}

//Breakpoints
//Layout - Phone

@media only screen and (min-width: $iPhonePortrait) and (max-width: $iPhoneLandscape) {
  .blogHeading .date {
    display: block !important;
  }
  .noPaddingXMobile {
    padding-left: 0;
    padding-right: 0;
  }
  #about {
    p {
      padding-left: 5%;
      padding-right: 5%;
      margin: 0 0.5em;
    }
  }
  section {
    p {
      margin: 0 0.5em 1.8em;
    }
  }
  footer {
    padding: 2em 0 0.5em;
    .social {
      .button {
        width: 60px;
        height: 60px;
      }
    }
  }
  .subfooter {
    padding-right: 10%;
    padding-left: 10%;
  }
}

@media only screen and (max-width: $iPhonePortrait) {
  .noPaddingXMobile {
    padding-left: 0;
    padding-right: 0;
  }
  #about {
    p {
      padding-left: 5%;
      padding-right: 5%;
      margin: 0 0.5em;
    }
  }
  .blogHeading .date {
    display: block !important;
  }
  .photoHero {
    width: 100%;
    float: none;
    div, img {
      width: 100% !important;
      height: auto !important;
      float: none !important;
    }
  }
  section {
    margin: 2.25em 0;
    &#intro,
    &#about {
      margin: 2.25em 0 0;
    }
  }
  .hideForMobile {
    display: none;
  }
  .subfooter {
    padding-right: 10%;
    padding-left: 10%;
  }
}